*{
	margin:0px ;
	padding: 0px;
	font-family: at;
}

body{
	background-color: #c1ea87;
}

ul.filter{
	text-align: left;
}

div.main {
	margin: 0px auto;
	position: absolute;
	pointer-events: none;
}

div.header{
	margin: 0px auto 50px;
	height: 100px;
	pointer-events: auto;
	margin-left: 20%;
	position: fixed;
}

div.navpoint{
	display: inline-block;
	border: 1px solid black;
	border-radius:10px;
	padding: 10px 10px 10px 10px;
	margin: auto;
	background-color: #009900;
	pointer-events: auto;
	margin-left: 53px;
	margin-top: 11px;
}

@import url(http://fonts.googleapis.com/css?family=Oswald);
@font-face {
font-family: Oswald;
src: url("");
}

.navpoint p{
	font-family: "Andalus";
	font-size: 20px;
	color: white;
}

a:link {
	color: black;
	text-decoration: none;	
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
}