@CHARSET "ISO-8859-1";

*{
	margin:0px ;
	padding: 0px;
}

body{
	
	background-color: #c1ea87;
}

ul.filter{
	text-align: left;
}

div.main {
	margin: 0px auto;
	width: 900px;
}

div.navbar{
	
	text-align: center;
	background-color: #bda388;

}

div.navpoint{
	display: inline-block;
	border-right: 1px solid black;
	padding: 0px 5px 0px 5px;
	margin: auto;
	background-color: #bda388;
	
	
}

div.header{
	margin: 0px auto;
	height: 100px;
}

.navpoint p{
	font-family: "Andalus";
	font-size: 20px;
}

a:link {
	color: black;
	text-decoration: none;	
}

a:VISITED {
	color: black;
	text-decoration: none;
}

a:HOVER {
	color: black;
	text-decoration: none;
}