@CHARSET "ISO-8859-1";

*{
	margin:0px ;
	padding: 0px;
}

body{
	
	background-color: #c1ea87;
}

ul.filter{
	text-align: left;
}

div.main {
	margin: 0px auto;
	width: 900px;
}

div.navbar{
	
	text-align: center;
	background-color: #bda388;

}

div.navpoint{
	display: inline-block;
	border: 1px solid black;
	/*border-top-left-radius: 10px;*/
	border-radius:10px;
	padding: 10px 10px 10px 10px;
	margin: auto;
	background-color: #009900;
	box-shadow: 10px 10px 10px black;
	
	
}

@font-face { font-family:at; src:url(AmericanTypewriter.ttc), url(garamond.pfr); }

div.header{
	margin: 0px auto 50px;
	height: 100px;
}

.navpoint p{
	font-family: "Andalus";
	font-size: 20px;
	color: white;
}

a:link {
	color: black;
	text-decoration: none;	
}

a:VISITED {
	color: black;
	text-decoration: none;
}

a:HOVER {
	color: black;
	text-decoration: none;
}